
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div class="container">
            <div class="row mt-5">
                <div class="card-body p-4 p-lg-5 text-black">
                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
            
                    <h1>Registro de usuario</h1>
            
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms, {
                            label: 'Aceptar terminos'
                        }) }}
                
                        <button type="submit" class="btn btn-primary">Registrar</button>

                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </body>
</html>


