{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block main %}
    <div class="row">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bienvenido</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" 
                        style="width: 25rem;" 
                        src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_posting_photo.svg" alt="...">
                </div>
                <p>Bienvenido a la prueba tecnica de Symfony!</p>
            </div>
        </div>
    </div>
{% endblock %}