{% extends 'base.html.twig' %}
{% block title %}Categorias{% endblock %}
{% block main %}
    <h1 class="h3 mb-4 text-gray-800">Categorias</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{{ path('category_new') }}" class="btn btn btn-primary btn-sm">
                <i class="fas fa-plus"></i> Crear categoria
            </a>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Fecha de creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            {{ include('category/partials/_show_button.html.twig') }}
                            {{ include('category/partials/_edit_button.html.twig') }}
                            {{ include('category/partials/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr class="text-center">
					    <td colspan="100%" scope="row"><i class="fas fa-info-circle"></i> No se encontraron registros.</td>
				    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}