{% extends 'base.html.twig' %}
{% block title %}Categoria{% endblock %}
{% block main %}
    <h1 class="h3 mb-4 text-gray-800">Detalle categoria</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
             <div class="row">
                <div class="col-md-9">
                    <h6 class="m-0 font-weight-bold text-primary">{{ category.name }}</h6>
                </div>
                <div class="col-md-3">
                    {{ include('category/partials/_return_button.html.twig') }}
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ category.id }}</td>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ category.name }}</td>
                            </tr>
                            <tr>
                                <th>Fecha creación</th>
                                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
             <div class="row">
                <div class="col-3">

                    {{ include('category/partials/_edit_button.html.twig') }}

                    {{ include('category/partials/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


