
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex align-items-center justify-content-center h-100">

                    <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
                    </div>

                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <form action="{{ path('login') }}" method="post">

                            <div class="row mb-5">
                                <div class="col-sm-12">
                                    <img src="https://www.optimeconsulting.com/images/logo_en.svg">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input type="email"  id="username" name="_username" 
                                        value="{{ last_username }}" 
                                        class="form-control form-control-lg" required />
                                        <label class="form-label" for="username">Email </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="password" name="_password" 
                                        class="form-control form-control-lg" required />
                                    <label class="form-label" for="password">Password</label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-lg w-full">
                                    Iniciar Sesión
                                </button>
                                <a type="submit" class="btn btn-primary btn-lg w-full" href="{{ path('app_register') }}">
                                    Registrarse
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

