{% extends 'base.html.twig' %}
{% block title %}Editar producto{% endblock %}
{% block main %}
    <h1 class="h3 mb-4 text-gray-800">Editar producto</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-9">
            <div class="row">
                <div class="col-md-9">
                    <h6 class="m-0 font-weight-bold text-primary">PRODUCTO {{  product.name }}</h6>
                </div>
                <div class="col-md-3">
                    {{ include('product/partials/_return_button.html.twig') }}
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ include('product/partials/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
    </div>
{% endblock %}

