{% extends 'base.html.twig' %}
{% block title %}Prodctos{% endblock %}
{% block main %}
    <h1 class="h3 mb-4 text-gray-800">Productos </h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{{ path('product_new') }}" class="btn btn btn-primary btn-sm">
                <i class="fas fa-plus"></i> Crear producto
            </a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Fecha creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            <tbody>
                {% for product in paginator.results %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td><a href="{{ path('category_show', {id: product.category.id}) }}">{{ product.category.name }}</a></td>
                    <td>{{ product.price  }}</td>
                    <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        {{ include('product/partials/_show_button.html.twig') }}
                        {{ include('product/partials/_edit_button.html.twig') }}
                        {{ include('product/partials/_delete_form.html.twig') }}
                    </td>
                </tr>
                {% else %}
                    <tr class="text-center">
					    <td colspan="100%" scope="row"><i class="fas fa-info-circle"></i> No se encontraron registros.</td>
				    </tr>
                {% endfor %}


                {% if paginator.hasToPaginate %}
                    <div class="navigation text-center">
                        <ul class="pagination">
                            {% if paginator.hasPreviousPage %}
                                <li class="page-item"><a class="page-link" href="{{ path('product_index_paginated', {page: paginator.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> {{ 'Previous' }}</a></li>
                            {% else %}
                                <li class="page-item disabled"><a href="#" class="page-link"><i class="fa fw fa-arrow-left"></i> {{ 'Previous' }}</a></li>
                            {% endif %}

                            {% for i in 1..paginator.lastPage %}
                                {% if i == paginator.currentPage %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{{ path('product_index_paginated', {page: i}) }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if paginator.hasNextPage %}
                                <li class="page-item"><a class="page-link" href="{{ path('product_index_paginated', {page: paginator.nextPage}) }}" rel="next">{{ 'Next' }} <i class="fa fw fa-arrow-right"></i></a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">{{ 'Next' }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}