{% extends 'base.html.twig' %}
{% block title %}Crear producto{% endblock %}
{% block main %}
    <h1 class="h3 mb-4 text-gray-800">Productos</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-9">
                    <h6 class="m-0 font-weight-bold text-primary">Nuevo producto</h6>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('product_index') }}" 
                        class="btn btn btn-primary btn-sm float-right">
                        <i class="fas fa-angle-double-left"></i> Regresar
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ include('product/partials/_form.html.twig') }}
        </div>
    </div>
{% endblock %}