body {
    background-color: lightgray;
}

.btn-green  {
    background-color: rgba(185, 207, 22, 1) !important;
    color: rgba(255, 255, 255, 1.00);
    text-transform: uppercase;
    font-size: 20px;
    padding: 7px 20px;
    cursor: pointer;
    font-family: 'century_bold';
    width: 100%;
    max-width: 300px;
    margin: 0 15px;
}
