<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nueva categoria</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <h1>Nueva categoria!</h1>
    <ul>
        <li>{{ id }}</li>
        <li>{{ name }}</li>
        <li>{{ created_on }}</li>
    </ul>
</body>
</html>