<form method="post" action="{{ path('product_delete', {'id': product.id}) }}" 
    class="d-inline"
    onsubmit="return confirm('Esta seguro de eliminar este registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-sm btn-danger">
        <i class="fas fa-trash-alt"></i> Eliminar
    </button>
</form>