{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">
          <i class="fas fa-save"></i> 
        {{ button_label|default('Guardar') }}
    </button>
{{ form_end(form) }}